.containerNosotros {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-top: 130px;
}

.containerNosotros h2 {
  font-size: 4.5vw;
  color: white;
  font-family: var(--font-german);
  letter-spacing: 3px;
}

.containerNosotros h2 span {
  color: #00b931;
}

.sliderSection {
  width: 90%;
  max-width: 1550px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sliderSection button {
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004111;
  border: 1px solid #00b931;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.sliderSection button:nth-child(1) {
  left: 10px;
  transform: rotate(180deg);
}

.sliderSection button:nth-child(3) {
  right: 10px;
}

.sliderSection button:hover {
  background-color: #00b931;
}

.slider {
  width: 100%;
  max-width: 1550px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.slider::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
}

.slider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider::-webkit-scrollbar-track {
  background-color: transparent;
}

.imageBox {
  min-width: 16.1%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 20px;
  position: relative;
}

.imageBox img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid transparent;
  filter: grayscale(1);
  opacity: 0.5;
}

.imageBox img:hover {
  border: 2px solid #00b931;
  filter: grayscale(0);
  opacity: 1;
}

.infoNosotros {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.flexDescription {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 75%;
}

.flexDescription p {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 200;
}

.flexDescription p span {
  font-weight: 700;
}

@media (max-width: 1400px){
  .imageBox {
    min-width: 19.3%;
  }

  .containerNosotros h2 {
    font-size: 5.5vw;
  }
}


@media (max-width: 850px){

  .containerNosotros h2 {
    font-size: 6.7vw;
  }

  .imageBox {
    min-width: 32.5%;
  }
}

@media (max-width: 550px){
  .containerNosotros {
    padding-top: 90px;
  }

  .containerNosotros h2 {
    font-size: 2.8rem;
    width: 75%;
    text-align: center;
  }


  .sliderSection{
    width: 100%;
    justify-content: center;
  }

  .imageBox {
    min-width: 40%;
  }

  .sliderSection button {
    position: absolute;
    width: 45px;
    bottom: 20px;
  }
  
  .sliderSection button:nth-child(1) {
    left: auto;
    margin-left: -60px;
  }
  
  .sliderSection button:nth-child(3) {
    right: auto;
    margin-right: -60px;
  }
  
  .sliderSection button:hover {
    background-color: #00b931;
  }
}