.containerPlanes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 130px;
}

.titleSection {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.titleSection h2 {
  font-size: 4.5vw;
  color: white;
  font-family: var(--font-german);
  letter-spacing: 3px;
}

.titleSection h2 span {
  color: #00b931;
}

.flexDescripcionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

.flexDescripcionTitle p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.flexBoxCards {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

@media (max-width: 850px) {
  .titleSection h2 {
    font-size: 6.7vw;
  }

  .flexDescripcionTitle p {
    font-size: 1rem;
  }

  .flexDescripcionTitle img {
    width: 12px;
    height: 12px;
  }

  .flexBoxCards {
    width: 95%;
    gap: 30px;
  }
}

@media (max-width: 550px) {
  .containerPlanes {
    gap: 30px;
    padding-top: 100px;
  }

  .titleSection {
    align-items: center;
  }

  .titleSection h2 {
    font-size: 2.8rem;
    width: 80%;
    text-align: center;
  }
}
